*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/runConfigurations.xml
projectFilesBackup1/.idea/workspace.xml
projectFilesBackup2/.idea/workspace.xml
